@use 'app/styles/mixins'
@use 'app/styles/variables'
@use 'app/styles/typography'

body
  margin: 0
  background-color: #899e9d

*
  box-sizing: border-box

button
  +mixins.button

@view-transition
  navigation: auto

h2
  margin: 0 0 1.5rem
  +typography.title-gradient
